/*inicio edicion header*/

.container-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.imagen-header{
    width:300px;
    height: 80px; 
    padding-left: 30px;
}
.lista-link{
list-style: none;
display: flex;
flex-direction: row;
justify-content: space-around;
margin: 10px 20px ;
}

.link-item a img{
    height: 30px;
}
.link-item{
    padding: 15px;
}
.menuResponsive{
    display: flex;
    flex-direction: column;
    display: none;
}
.conteiner-list{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-around;
}
.list-item{
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 70px;
    text-align: center;
    font-size: 25px;
    list-style: none;
}
.list-item:hover{
    transition: all .5s;
    scale: 1.1;
}
.list-item a {
    color: rgb(104, 69, 58);
    text-decoration: none;
}

.iconWsp{
    position: fixed;
    bottom: 100px;
    right: 100px;
}
.iconWsp:hover{
    border-radius: 50%;
    background-color: brown;
    transform: translateY(-10%);
    transition: all 400ms ease;
}
/*fin diseño header*/


/*  inicio diseño responsive header*/

@media(max-width:770px){
   
    .container-header{
        flex-direction: column;
    }
    .container-header img{
        width: 70%;
        margin: auto;
    }
   
    .conteiner-list{
        display: none;
    }
    .menuResponsive{
        display: flex;
        flex-direction: column;
    } 
    .menuResponsive img{
            width: 45px;
            height: 45px;
    }   
    .menuResponsive ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(235, 227, 227);
        padding: 0%;
    }
    .menuItem{ 
        width: 50px;
        height: 60px;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .menuItem a{
        font-size: 1.5em;
        text-decoration: none;
        color: black;
    }
    .menuResponsive:hover .menuItem{
            display: flex;
            flex-direction: column;
            transition-duration: .3s ;
            scale: 1.1;
    }
    
    .iconWsp{
        bottom: 100px;
        left:80%;
    }
}


@media(max-width:425px){
    .conteiner-list{
        display: none;
    }
    .menuResponsive{
        display: flex;
        flex-direction: column;
    } 
    .menuResponsive img{
            width: 45px;
            height: 45px;
    }   
    .menuResponsive ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(215, 215, 215);
        padding: 0%;
    }
    .menuItem{ 
        width: 50px;
        height: 60px;
        justify-content: center;
        align-items: center;
        display: none;
    }
    .menuItem a{
        font-size: 1.5em;
        text-decoration: none;
    }
    .menuResponsive:hover .menuItem{
            display: flex;
            flex-direction: column;
            transition-duration: .3s ;
            scale: 1.1;
    }
    
    .container-header{
        flex-direction: column;
    }
    .container-header img{
        width: 70%;
        justify-content: center;
    }
    .conteiner-list{
        flex-direction: column;
        align-items: center;
        padding: 0%;
        margin-top: 20px;
    }
    .list-item {
        width: 100%;
    }
    .iconWsp{
        bottom: 100px;
        left:80%;
    }
}
/*fin edicion header*/
