/* inicio edicion pagina contactanos*/
.sectionContacto{
    text-align: center;
}
.sectionContacto h1{
    font-family: $fontPrimaria;
    font-size: 4em;
}
.sectionContacto h2{
    font-family: $fontPrimaria;
    font-size: 2.5em;
}

.sectionContacto img{
    margin-top: 20px;
    @include sizes(700px, 400px);
}
.sectionContacto p{
    font-family: $fontPrimaria;
    font-size: 1.3em;
    text-align: center;
    margin-top: 30px;
}
.listaHorario{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    margin: 40px;
    justify-content: center;
}
.horarioConsultorio{
    margin: 50px;
    border: 1px solid black;
    @include sizes(500px, 300px);
    background-image: url(../assets/consultorioCapital.jpg);
    background-position: center;
}
.horarioConsultorio b{
    font-size: 2.4em;
    margin-top: 40px;
}
.horarioConsultorio p{
    margin-top: 30px;
    font-size: 2em;
}
.sectionForm{
    @extend%flexcolumn;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
}
.formulario{
    @extend%flexCenterCenter;
}
.formulario form{
    @extend%flexcolumn;
    @include sizes(500px, 380px);
    background-color: rgb(139, 189, 189);
    padding: 10px;
    gap: 5px;
}
.formulario form label{
    display: none;
}
.formulario form input{
    height: 45px;
    background-color:$colorFormulario;
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
.formulario form textarea {
    height: 120px;
    background-color:  $colorFormulario;
    color: rgb(224, 211, 211);
    text-decoration: none;
}
.formulario form select{
    height: 40px;
    background-color:  $colorFormulario;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.buttonForm{
    justify-content: center;
    width: 130px;
    height: 40px;
    background-color: rgb(231, 161, 245);
}
.buttonForm:hover{
    background-color: rgb(148, 97, 97);
}
.acordeonBootstrap{
    @extend%flexcolumn;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.acordeonBootstrap div p{
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 30px;

}

/* inicio diseño responsive contactanos*/
@media(max-width:770px){
.listaHorario{
    grid-template-columns:1fr 1fr;
    gap: 10px;
    padding-left: 20px;
}
.horarioConsultorio{
    width:100%;
    margin: 0;
}

.horarioConsultorio b{
    font-size: 2.1em;
    margin-top: 20px;
    color: rgb(0, 0, 0);
}
.horarioConsultorio p{
    margin-top: 30px;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
}
.formulario{
    width: 98%;
}
}
@media(max-width:650px){
    .sectionContacto img{
        width: 90%;
    }
    .listaHorario{
        grid-template-columns: 1fr;
        row-gap: 10px;
    }
    .horarioConsultorio{
        width: 100%;
        margin: 0;
    }
    .formulario{
        width: 98%;
    }
}
/*fin diseño responsive contactanos*/