/*inicio edicion pagina tratamientos*/
.sectionTratamientos h1{
    font-family:  $fontPrimaria;
    font-size: 4em;
    text-align: center;
}
.sectionTratamientos h2{
    font-family: $fontPrimaria;
    font-size: 2.5em;
    text-align: center;
}
.sectionTratamientos p{
    font-family: $fontPrimaria;
    font-size: 1.3em;
    text-align: center;
    margin-top: 30px;
}
.listaTratamientos{
    display: grid;
    grid-template-columns: repeat(3,1fr);   
    row-gap: 10px;

    .tratamientos{
        width: 400px;
        height: 570px;
        margin-top: 20px;
        margin-left: 20px;
        list-style: none;
        background-color: rgb(251, 251, 255);
        overflow: hidden;
        box-shadow: 0px 1px 5px rgb(154, 35, 35);
        transition: all 400ms ease;
        text-align: center;
        }
    .tratamientos:hover{
            box-shadow: 0px 1px 10px rgb(154, 35, 35);
            transform: translateY(-3%);
        }
    .tratamientos img{
        @include sizes(100%, 300px );
    }
    .tratamientos p{
        margin-top: 5px;
        font-family: $fontPrimaria;
        } 
        .tratamientos a{
            color: rgb(62, 38, 38);
            text-decoration: none;
            border: 1px solid black;
            padding: 5px;
            border-radius: 4px;
            transition: all 400ms ease;
            font-family: $fontPrimaria;
        } 
        .tratamientos a:hover{
            background-color: rgb(151, 136, 136);
            color: azure;
        }
}

.videoTratamientos{
    margin-top: 30px;
    background-color: rgb(206, 196, 196);
    width: 100%;

    p{
        font-family: $fontPrimaria;
        font-size: 1.1em;
        text-align: center;
        margin-top: 10px;
}

    div{
        text-align: center;
    }
    iframe{
        @include sizes (800px,450px);
        margin-top: 40px;
        margin-bottom: 30px;
}
}


/* inicio diseño responsive tratamientos*/
@media(max-width:770px){
    .listaTratamientos{
        grid-template-columns:1fr 1fr;
        gap: 0 10px ;
        margin: 0%;
        padding: 0%;
    }
    .listaTratamientos  li{
        width: 90%;
       margin-left: 10px;
       text-align: center;

    }
    .videoTratamientos{
        width: 100%;
    }
    .videoTratamientos div iframe{
        width: 90%;
    }
}

@media(max-width:600px){
    .listaTratamientos{
        grid-template-columns: 1fr;
        margin: 0%;
        padding: 0%;
    }
    .listaTratamientos  li{
       margin-left: 10px;
       text-align: center;

    }
    .videoTratamientos{
        width: 100%;
    }
    .videoTratamientos div iframe{
        width: 90%;
    }
}
/* fin edicion pagina tratamientos*/